node_modules
node_modules/.package-lock.json
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.js
node_modules/dotenv/LICENSE
node_modules/dotenv/package.json
node_modules/dotenv/README.md
node_modules/dotenv/.github/FUNDING.yml
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/main.js
node_modules/dotenv/types/index.d.ts
node_modules/dotenv/types/test.ts
node_modules/dotenv/types/tsconfig.json
node_modules/dotenv/types/tslint.json
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/package.json
node_modules/truffle-plugin-debugger/debug.js
node_modules/truffle-plugin-debugger/index.js
node_modules/truffle-plugin-debugger/LICENSE
node_modules/truffle-plugin-debugger/package.json
node_modules/truffle-plugin-debugger/README.md
node_modules/truffle-plugin-debugger/truffle-plugin.json
node_modules/truffle-plugin-debugger/assets/screenshot.png
node_modules/truffle-plugin-debugger/commands/start.js
node_modules/truffle-plugin-debugger/src/.gitkeep
node_modules/truffle-plugin-debugger/test/.gitkeep
node_modules/truffle-plugin-debugger/ui/package.json
node_modules/truffle-plugin-debugger/ui/README.md
node_modules/truffle-plugin-debugger/ui/tsconfig.json
node_modules/truffle-plugin-debugger/ui/yarn.lock
node_modules/truffle-plugin-debugger/ui/build/asset-manifest.json
node_modules/truffle-plugin-debugger/ui/build/favicon.ico
node_modules/truffle-plugin-debugger/ui/build/index.html
node_modules/truffle-plugin-debugger/ui/build/logo192.png
node_modules/truffle-plugin-debugger/ui/build/logo512.png
node_modules/truffle-plugin-debugger/ui/build/manifest.json
node_modules/truffle-plugin-debugger/ui/build/robots.txt
node_modules/truffle-plugin-debugger/ui/build/static/css/main.cbe58bb4.chunk.css
node_modules/truffle-plugin-debugger/ui/build/static/css/main.cbe58bb4.chunk.css.map
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js.LICENSE.txt
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/3.c7b18d5c.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/3.c7b18d5c.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/main.16c0b3de.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/main.16c0b3de.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/runtime-main.776f02b0.js
node_modules/truffle-plugin-debugger/ui/build/static/js/runtime-main.776f02b0.js.map
node_modules/truffle-plugin-debugger/ui/public/favicon.ico
node_modules/truffle-plugin-debugger/ui/public/index.html
node_modules/truffle-plugin-debugger/ui/public/logo192.png
node_modules/truffle-plugin-debugger/ui/public/logo512.png
node_modules/truffle-plugin-debugger/ui/public/manifest.json
node_modules/truffle-plugin-debugger/ui/public/robots.txt
node_modules/truffle-plugin-debugger/ui/src/App.css
node_modules/truffle-plugin-debugger/ui/src/App.test.tsx
node_modules/truffle-plugin-debugger/ui/src/App.tsx
node_modules/truffle-plugin-debugger/ui/src/index.css
node_modules/truffle-plugin-debugger/ui/src/index.tsx
node_modules/truffle-plugin-debugger/ui/src/react-app-env.d.ts
node_modules/truffle-plugin-debugger/ui/src/reportWebVitals.ts
node_modules/truffle-plugin-debugger/ui/src/setupTests.ts
node_modules/truffle-plugin-debugger/ui/src/components/Accounts.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Debugger.tsx
node_modules/truffle-plugin-debugger/ui/src/components/DebugTooltip.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Home.tsx
node_modules/truffle-plugin-debugger/ui/src/components/KeyboardShortcuts.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Line.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Navigation.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Settings.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Source.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Sources.tsx
node_modules/truffle-plugin-debugger/ui/src/components/StatusIcon.tsx
node_modules/truffle-plugin-debugger/ui/src/components/StatusMessage.tsx
node_modules/truffle-plugin-debugger/ui/src/components/SyntaxStyle.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tab.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tabs.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Transaction.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tray.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Variables.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/colors.ts
node_modules/truffle-plugin-debugger/ui/src/styles/H3.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Icon.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/IconBase.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/List.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Loading.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/LoadingSmall.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/MetaWrapper.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/PrimaryButton.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Tab.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/TabButton.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Tooltip.tsx
node_modules/truffle-plugin-debugger/ui/src/types/truffle.d.ts
node_modules/truffle-plugin-debugger/ui/src/utils/getDecodedValue.ts
node_modules/truffle-plugin-debugger/ui/src/utils/getWeb3.ts
node_modules/.package-lock.json
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.js
node_modules/dotenv/LICENSE
node_modules/dotenv/package.json
node_modules/dotenv/README.md
node_modules/dotenv/.github/FUNDING.yml
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/main.js
node_modules/dotenv/types/index.d.ts
node_modules/dotenv/types/test.ts
node_modules/dotenv/types/tsconfig.json
node_modules/dotenv/types/tslint.json
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/package.json
node_modules/truffle-plugin-debugger/debug.js
node_modules/truffle-plugin-debugger/index.js
node_modules/truffle-plugin-debugger/LICENSE
node_modules/truffle-plugin-debugger/package.json
node_modules/truffle-plugin-debugger/README.md
node_modules/truffle-plugin-debugger/truffle-plugin.json
node_modules/truffle-plugin-debugger/assets/screenshot.png
node_modules/truffle-plugin-debugger/commands/start.js
node_modules/truffle-plugin-debugger/src/.gitkeep
node_modules/truffle-plugin-debugger/test/.gitkeep
node_modules/truffle-plugin-debugger/ui/package.json
node_modules/truffle-plugin-debugger/ui/README.md
node_modules/truffle-plugin-debugger/ui/tsconfig.json
node_modules/truffle-plugin-debugger/ui/yarn.lock
node_modules/truffle-plugin-debugger/ui/build/asset-manifest.json
node_modules/truffle-plugin-debugger/ui/build/favicon.ico
node_modules/truffle-plugin-debugger/ui/build/index.html
node_modules/truffle-plugin-debugger/ui/build/logo192.png
node_modules/truffle-plugin-debugger/ui/build/logo512.png
node_modules/truffle-plugin-debugger/ui/build/manifest.json
node_modules/truffle-plugin-debugger/ui/build/robots.txt
node_modules/truffle-plugin-debugger/ui/build/static/css/main.cbe58bb4.chunk.css
node_modules/truffle-plugin-debugger/ui/build/static/css/main.cbe58bb4.chunk.css.map
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js.LICENSE.txt
node_modules/truffle-plugin-debugger/ui/build/static/js/2.ff18b484.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/3.c7b18d5c.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/3.c7b18d5c.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/main.16c0b3de.chunk.js
node_modules/truffle-plugin-debugger/ui/build/static/js/main.16c0b3de.chunk.js.map
node_modules/truffle-plugin-debugger/ui/build/static/js/runtime-main.776f02b0.js
node_modules/truffle-plugin-debugger/ui/build/static/js/runtime-main.776f02b0.js.map
node_modules/truffle-plugin-debugger/ui/public/favicon.ico
node_modules/truffle-plugin-debugger/ui/public/index.html
node_modules/truffle-plugin-debugger/ui/public/logo192.png
node_modules/truffle-plugin-debugger/ui/public/logo512.png
node_modules/truffle-plugin-debugger/ui/public/manifest.json
node_modules/truffle-plugin-debugger/ui/public/robots.txt
node_modules/truffle-plugin-debugger/ui/src/App.css
node_modules/truffle-plugin-debugger/ui/src/App.test.tsx
node_modules/truffle-plugin-debugger/ui/src/App.tsx
node_modules/truffle-plugin-debugger/ui/src/index.css
node_modules/truffle-plugin-debugger/ui/src/index.tsx
node_modules/truffle-plugin-debugger/ui/src/react-app-env.d.ts
node_modules/truffle-plugin-debugger/ui/src/reportWebVitals.ts
node_modules/truffle-plugin-debugger/ui/src/setupTests.ts
node_modules/truffle-plugin-debugger/ui/src/components/Accounts.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Debugger.tsx
node_modules/truffle-plugin-debugger/ui/src/components/DebugTooltip.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Home.tsx
node_modules/truffle-plugin-debugger/ui/src/components/KeyboardShortcuts.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Line.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Navigation.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Settings.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Source.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Sources.tsx
node_modules/truffle-plugin-debugger/ui/src/components/StatusIcon.tsx
node_modules/truffle-plugin-debugger/ui/src/components/StatusMessage.tsx
node_modules/truffle-plugin-debugger/ui/src/components/SyntaxStyle.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tab.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tabs.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Transaction.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Tray.tsx
node_modules/truffle-plugin-debugger/ui/src/components/Variables.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/colors.ts
node_modules/truffle-plugin-debugger/ui/src/styles/H3.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Icon.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/IconBase.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/List.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Loading.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/LoadingSmall.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/MetaWrapper.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/PrimaryButton.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Tab.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/TabButton.tsx
node_modules/truffle-plugin-debugger/ui/src/styles/Tooltip.tsx
node_modules/truffle-plugin-debugger/ui/src/types/truffle.d.ts
node_modules/truffle-plugin-debugger/ui/src/utils/getDecodedValue.ts
node_modules/truffle-plugin-debugger/ui/src/utils/getWeb3.ts
